.heading,
.message {
  width: 90%;
  margin: 1.25rem auto 0;
}

.heading {
  text-transform: capitalize;
}

.container {
  margin-bottom: 2rem;
}

.suggestions {
  width: 90%;
  margin: 1.25rem auto 2rem;
}

.swiperSlide {
  position: relative;
  height: 120px !important;
  width: 70% !important;
  max-width: 240px !important;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.swiperNav {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 35px;
  height: 35px;
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: none;
  animation: fade 200ms ease-in;
  border: none;
}

.swiperNavPrev {
  left: 0;
  background-image: url("../../public/assets/chevron-left-solid.svg");
}
.swiperNavNext {
  right: 0;
  background-image: url("../../public/assets/chevron-right-solid.svg");
}

@media (hover: hover) {
  .suggestions:hover .swiperNav {
    display: block;
  }
}

.message {
  width: 90%;
  margin: 2rem auto;
  font-style: italic;
  font-size: 0.85rem;
}

@media (max-width: 23em) {
  .heading,
  .suggestions,
  .message {
    width: 95%;
  }

  .message {
    font-size: 0.75rem;
  }
}

@media (max-width: 21.625em) {
  .heading,
  .suggestions,
  .message {
    width: 87.5%;
  }

  .swiperSlide {
    width: 85% !important;
  }
}

@media (min-width: 48em) {
  .container {
    margin: 2rem auto 0;
    border-top: 2px solid var(--Semi-dark-blue);
    width: 93.75%;
  }
  .heading {
    font-size: 1.25rem;
    margin: 1.65rem 0 2rem;
  }
  .suggestions {
    margin: 0 auto 2rem;
    width: 100%;
  }

  .message {
    width: 100%;
    font-size: 1rem;
  }

  .swiperSlide {
    height: 160px !important;
    min-width: 300px !important;
  }
}

@media (min-width: 64em) {
  .swiperSlide {
    min-width: 280px !important;
  }
}

@media (min-width: 75em) {
  .container {
    border-top: unset;
    margin: 0;
    width: 100%;
    position: relative;
    top: -2rem;
  }

  .heading {
    margin: 0 2.25rem 2rem 11rem;
    text-transform: capitalize;
    padding: 0;
    width: unset;
  }

  .message,
  .suggestions {
    margin: 0 2.25rem 2rem 11rem;
    width: unset;
  }

  .message {
    padding: unset;
  }

  .swiperSlide {
    width: 57% !important;
  }
}

@media (min-width: 90em) {
  .container {
    top: 2.5rem;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
